# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Logs and debug files

# OS-specific files
.DS_Store

# IDE-specific files
.vscode/
.idea/

# Python package files
*.egg
*.egg-info/
dist/
build/
*.whl

# Config and environment files
*.env
*.config
*.json

